@page "/settings"
@inject CommonJsInterop JsInterop

<h3>设置</h3>
<FluentTabs>
    <FluentTab>RSS订阅管理</FluentTab>
    <FluentTab>设置</FluentTab>
    <FluentTab>关于</FluentTab>
    <FluentTabPanel><SourceManagementPanel /></FluentTabPanel>
    <FluentTabPanel><AppSettingPanel /></FluentTabPanel>
    <FluentTabPanel><AboutPanel /></FluentTabPanel>
</FluentTabs>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsInterop.SetTitle("设置");
        await base.OnInitializedAsync();
    }
}

