@page "/settings"
@inject CommonJsInterop JsInterop

<h3>设置</h3>
<Pivot>
    <PivotItem HeaderText="RSS订阅管理">
        <SourceManagementPanel/>
    </PivotItem>
    <PivotItem HeaderText="设置">
        <AppSettingPanel />
    </PivotItem>
    <PivotItem HeaderText="关于" IconName="Info">
        <AboutPanel/>
    </PivotItem>
</Pivot>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsInterop.SetTitle("设置");
        await base.OnInitializedAsync();
    }
}

