@page "/"
@namespace bReader.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bReader - The Blazor Rss Reader</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="_content/bReader.Shared/css/bootstrap/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
    <link href="_content/bReader.Shared/css/site.css" rel="stylesheet" />
    <link href="bReader.Server.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(bReader.Shared.App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
