.hr-fading-info {
    border: 0;
    color: #d0d0d5;
    background: linear-gradient(currentColor, currentColor) no-repeat center;
    background-size: 100% 1px;
}

    .hr-fading-info::before {
        content: '';
        display: block;
        width: .5em;
        height: .5em;
        border-radius: 50%;
        background-color: currentColor;
        margin: auto;
    }

    .hr-fading-info[multiple]::before {
        box-shadow: 1.5em 0,-1.5em 0;
    }
