.navbar-toggler {
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

span.nav-content::after {
    content: attr(data-unread);
    background-color: var(--semanticColors-WarningBackground);
    border-radius: 50% 50%;
    padding: .2em .4em;
    margin-left: 1px;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width:640.98px) {
    .collapse {
        display: none;
    }

    nav {
        position: absolute;
        top: 3.5rem;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}
