@inherits LayoutComponentBase
@inject IFeedService FeedService
@* Almost every page uses this varible, so we just set it as a CascadingParameter to reduce repeated db query*@
<CascadingValue Value="feedDtos">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <h1 id="top-title">
                </h1>
                <span id="reader-info">bReader - The Blazor Reader</span>
            </div>

            <article class="content px-4">
                @Body
            </article>

        </main>
    </div>
</CascadingValue>
@code{
    private IEnumerable<FeedDto> feedDtos = new List<FeedDto>();
    protected async override Task OnInitializedAsync()
    {
        if (feedDtos.Count()==0)
            this.feedDtos = await FeedService.GetFeedsAsync();
    }
}